<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Random News You Never Knew!</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="c-header">
      <h1><a href="/">Random News You Never Knew!</a></h1>
      <a href="/article/new" class="c-link">Get an article</a>
    </div>
    
    {{{ body }}}

    <footer>
      <div class="c-content">
        Copyright 2017
      </div>
    </footer>
    <script src="/main.js"></script>
  </body>
</html>
