<div class="container container-table">
  <div class="row vertical-center-row">
    <div class="text-center col-md-4 col-md-offset-4" style="background:lightgray">
  <h1><a href="/">Random News You Never Knew!</a></h1>
  <a class="btn btn-primary btn-lg" href="/article/new" role="button" >Get an article</a>
  <div class="list-group">
    {{#each category}}
    <a href={{this.url}} class="btn btn-info" role="button">{{this.name}}</a>
    {{/each}}
  </div>
</div>
</div>
</div>
